.new {
  display: flex;
  width: 100%;

  .new-container {
    flex: 6;

    .top,
    .bottom {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: 20px;
      display: flex;

      h5 {
        color: lightgray;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          padding-bottom: 20px;
          justify-content: space-around;

          .input-container {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 13px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: #9822c6;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
